$fa-font-path:   "../fonts";
@import "node_modules/font-awesome/scss/font-awesome";

@import "./sass/colors";
@import "node_modules/bulma/bulma";

$menu-width: 4rem;
$menu-width-open: 10rem;

at-menu aside {
  position: fixed;
  height: 100vh;
  overflow: hidden;
  z-index: 3;
  background-color: $grey-dark;
  color: $white-ter;

  width: $menu-width;
  &.open {
    width: $menu-width-open;
  }

  .at-nav-item {
    display: block;
    margin: 1rem;
    color: $white-ter;
    &.active {
      color: $primary;
    }
    &.at-nav-toggle {
      position: absolute;
      bottom: 0;
    }
  }
}

.at-container {
  padding: 10px;
  margin-left: $menu-width;
  &.menu-open {
    margin-left: $menu-width-open;
  }
}

// .pane {
at-pane-resizer {
  @extend .column;
  @extend .is-narrow;

  width: 1.5rem;
  // padding: 0;
  padding-left: 0;
  padding-right: 0;
  // position: fixed;
  min-height: 100vh;
  background-color: $grey-dark;
  // border: 1px solid $grey-lighter;
  // border-top: none;
  // border-bottom: none;
  cursor: ew-resize;

  .separator-menu {
    // a {
    //   width: 1.5rem;
    //   display: block;
    //   color: $white-ter;
    //   &.is-success {background-color: $success}
    //   &.is-info {background-color: $info}
    //   vertical-align: middle;
    //   line-height: 1rem;
    //   .fa {
    //     font-size: 1rem;
    //   }
    // }
    position: fixed;
    a.button {
      padding: 0.45rem;
      border-radius: 0px;
    }
  }

  .separator-handle {
    position: fixed;
    padding: 0.60rem;
    top: 50%;
    color: $grey-lighter;
  }
}
// &-editor {
//
// }
// &-preview {
//   background-color: $white-ter;
// }
// }
