$fa-font-path:   "../fonts";
@import "node_modules/font-awesome/scss/font-awesome";

@import "./sass/colors";
@import "node_modules/bulma/bulma";

$menu-width: 4rem;
$menu-width-open: 10rem;

at-menu aside {
  position: fixed;
  height: 100vh;
  overflow: hidden;
  z-index: 3;
  background-color: $grey-dark;
  color: $white-ter;

  width: $menu-width;
  &.open {
    width: $menu-width-open;
  }

  .at-nav-item {
    display: block;
    margin: 1rem;
    color: $white-ter;
    &.active {
      color: $primary;
    }
    &.at-nav-toggle {
      position: absolute;
      bottom: 0;
    }
  }
}

.at-container {
  padding: 12px;
  margin-left: $menu-width;
  &.menu-open {
    margin-left: $menu-width-open;
  }
}

.column:-webkit-full-screen	{
  width: 100% !important;
  height: 100% !important;
}
// .column:-moz-full-screen		{ width: 100% }

// .pane {
at-pane-resizer {
  @extend .column;
  @extend .is-narrow;

  width: 1.5rem;
  padding-left: 0;
  padding-right: 0;
  min-height: 100vh;
  background-color: $grey-dark;
  cursor: ew-resize;
  // -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  // -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  // box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);

  .top-menu, .bottom-menu {
    a {
      padding: 4px;
      color: $white-ter;
      background-color: $grey-dark;
      .icon {
        vertical-align: text-top;
      }
      label {
        vertical-align: text-top;
        display: none;
        font-size: 12px;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
      }
      &:hover label {display: inline-flex;}
    }
    position: fixed;
  }
  .bottom-menu {
    bottom: 0.75rem;
  }

  .menu-bottom {

  }

  .separator-handle {
    position: fixed;
    padding: 0.60rem;
    top: 50%;
    color: $grey-lighter;
  }
}
